Patch from Artur Klauser (klauser@cs.colorado.edu):  config file hierachies
had to use absolute pathnames because relative paths were interpreted
relative to the simulator invocation directory instead of the config file
directory.

***************
*** 1186,1191 ****
- --- 1204,1210 ----
  
  /* handle `-config' builtin option */
  #define MAX_LINE_ARGS         256
+ #define MAX_FILENAME_LEN       1024
  static void
  process_file(struct opt_odb_t *odb, char *fname, int depth)
  {
***************
*** 1192,1197 ****
- --- 1211,1218 ----
    int largc;
    char *largv[MAX_LINE_ARGS];
    char line[1024], *p, *q;
+   char cwd[MAX_FILENAME_LEN];
+   char *header;
    FILE *fd;
  
    fd = fopen(fname, "r");
***************
*** 1198,1203 ****
- --- 1219,1240 ----
    if (!fd)
      fatal("could not open configuration file `%s'", fname);
  
+   if (!getcwd(cwd, MAX_FILENAME_LEN)) {
+     perror("process_file");
+     fatal("can't get cwd");
+   }
+ 
+   header = strrchr(fname, '/');
+   if (header) {
+     /* filename is path - get header */
+     *header = '\0';
+     if (chdir(fname) == -1) {
+       perror("process_file");
+       fatal("can't chdir to %s\n", fname);
+     }
+     *header = '/';
+   }
+ 
    while (!feof(fd))
      {
  #if 0
***************
*** 1252,1257 ****
- --- 1289,1299 ----
      }
  
    fclose(fd);
+ 
+   if (chdir(cwd) == -1) {
+     perror("process_file");
+     fatal("can't chdir back to %s\n", cwd);
+   }
  }
  
  /* print the value of an option */

